// BEFORE AFTER CSS
// Under line below heading

.title h1:after{
	content: '';
	width: 15px;
	height: 15px;
	background: #000;
	display: block;
	position: relative; 
  margin: auto; 
	
}
// Half colored BG

section::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: #fff;
}
// Slider overlay

.parent-div{
	z-index: 0;
	position: relative;
}
.parent-div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: -1;
}
