/* remove scroll bar */

body {overflow-x:hidden !important;}

html,
body{
width:100%;
overflow-x:hidden;
}
a{text-decoration: none !important}
/* remove focus border */

*:focus { 
  outline: 0 !important;
  box-shadow: none !important ;
}
Close Tab on mobile
<script>
    if(window.outerWidth < 425) {
alert(‘jQuery(document).ready(function($) {
var delay = 10; setTimeout(function() {
$(‘.elementor-tab-title’).removeClass(‘elementor-active’);
$(‘.elementor-tab-content’).css(‘display’, ‘none’); }, delay);
});’);
}
</script> 
